* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    width: 100%;
    background-color: rgb(171, 201, 212);
}
body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#page {
    width: 100%;
    background-color: white;
    
}
#page header {
    width: 100%;
}
#page header .logo-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
#page header .logo-container .logo {
    margin-left: 20px;

}
#page header .logo-container .title {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: blue;
}
#page header .logo-container .title p {
    color: rgb(122, 14, 14);
    font-size: 24px;
    
}
#page header .nav {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    text-align: right;
    background-color: rgb(0, 140, 255);
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}
#page header .nav nav {
    width: 100%;
    height: 100%;
}
#page header .nav nav ul {
    width: 100%;
    height: 100%;
}
#page header .nav nav ul li {
    display: inline-block;
    height: 100%;
    width: 20%;
}
#page header .nav nav ul li a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px 20px;
    border-left: 1px solid #ddd;
    color: white;
    text-align: center;
    transition: .5s ease-in-out;
}
#page header .nav nav ul li a:nth-child(4) {
    border-right: 1px solid #ddd;
}
#page header .nav nav ul li a:hover {
    background-color: rgb(212, 224, 44);

}

#page header .search {
    width: 100%;
    padding: 6px;
    text-align: right;
    background-color: rgb(7, 7, 71);
}
#page header .search input, #page header .search button {
    padding: 5px;
    border-radius: 3px 3px 3px 7px;
    border: none;
    outline: none;
}
#page header .search button {
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
#page header .search button:hover {
    background-color: rgb(134, 199, 223);
    color: rgb(7, 7, 71);
    font-weight: 700;
}

/*header end*/
#page .gap {
    width: 100%;
    position: relative;
}
#page .gap .penguin {
    width: 100%;
    height: 120px;
    margin-bottom: 0;
}
#page .gap .image-gap {
    position: absolute;
    left: 15px;
    bottom: -5px;
    z-index: 111;
}
#page .gap p {
    text-align: right;
    width: 100%;
    background-color: rgb(7, 7, 71);
    color: white;
    margin-top: 0;
    padding: 5px;
    padding-right: 60px;
}
/*gap ended*/

#page .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
#page .container aside{
   width: 25%;
   margin-right: 5px;
   border-right: 1px solid black;
}
#page .container aside .aside-head {
    display: flex;
    margin-bottom: 10px;
}
#page .container aside .aside-head div {
    margin-left: 5px;
}
#page .container aside .aside-head div h2 {
    color: rgb(7, 7, 71);
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
#page .container aside .aside-head div p {
    font-size: 13px;
    color:rgb(0, 140, 255);
}
#page .container aside .aside-body {
    margin-right: 5px;
}
#page .container aside .aside-body a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: rgb(134, 199, 223);
    color: white;
    transition: .5s ease-in-out;
}
#page .container aside .aside-body a:hover {
    background-color: rgb(212, 224, 44);
}
#page .container aside .aside-footer .recent-tweets {
    text-align: center;
    padding-top: 10px;
} 
#page .container aside .aside-footer .recent-tweets h3,
#page .container aside .aside-footer .social h4{
    font-size: 30px;
    font-weight: 600;
    color: rgb(136, 133, 133);
    margin-bottom: 20px;
}
#page .container aside .aside-footer .recent-tweets h4 {
    font-size: 15px;
    font-weight: normal;
    color: rgb(134, 199, 223);
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
}
#page .container aside .aside-footer .social {
    text-align: center;
}
#page .container aside .aside-footer .social .icon {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#page .container aside .aside-footer .social .icon a {
    display: inline-block;
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 8px;
}
#page .container aside .aside-footer .social .icon a i {
    display: block;
    font-size: 30px;
}
#page .container aside .aside-footer .social .icon a i.fa-facebook {
    color: #3b5998;
}
#page .container aside .aside-footer .social .icon a i.fa-instagram {
    color: #C13584;
}
#page .container aside .aside-footer .social .icon a i.fa-twitter {
    color: #1DA1F2;
}
#page .container aside .aside-footer .social .icon a i.fa-youtube {
    color: #FF0000;
}
.fa-book {
    color: gray;
}

/*aside ended*/
#page .container #main-section {
    width: 75%;
}
#page .container #main-section .first-section {
    position: relative;
    width: 99%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid rgb(134, 199, 223);
    background-image: url("images/churtch.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#page .container #main-section .first-section .info {
    width: 60%;
    text-align: left;
    margin-top: 20px;
    margin-left: auto;
}
#page .container #main-section .first-section .info h3 {
    font-size: 20px;
    color: rgb(212, 224, 44);
    margin-bottom: 10px;
}
#page .container #main-section .first-section .info .date {
    color: rgb(212, 224, 44);
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#page .container #main-section .first-section .info .date span {
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
    color: #ddd;
    margin-bottom: 10px;
    font-weight: 700;
}
#page .container #main-section .first-section .info p {
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 20px;
}
#page .container #main-section .first-section .info span {
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(212, 224, 44);
}
#page .container #main-section .first-section .buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px;
}
#page .container #main-section .first-section .buttons span{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: .5s ease-in-out;
 }
 #page .container #main-section .first-section .buttons span.active {
    background-color: rgb(7, 7, 71);
 }
 #page .container #main-section .first-section .buttons span:hover {
     background-color: rgb(7, 7, 71);
 }
 /*first section ended*/

 #main-section .second-section {
     display: flex;
     width: 99%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
 }
 #main-section .second-section .left-article {
     width: 60%;
     margin-right: 15px;
 }
 #main-section .second-section .left-article div:first-child {
     position: relative;
     width: 100%;
     margin-bottom: 15px;
 }
 #main-section .second-section .left-article div:first-child h1,
 #main-section .second-section .left-article .announcement h1 {
     font-size: 25px;
     font-weight: bold;
     color: rgb(7, 7, 71);
     padding-bottom: 15px;
     border-bottom: 1px solid rgb(0, 140, 255);
     margin-bottom: 2px;
 }
 #main-section .second-section .left-article div:first-child h2,
 #main-section .second-section .left-article .announcement h2 {
    border-top: 1px solid rgb(0, 140, 255);
    padding-top: 15px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(136, 133, 133);
 }
 #main-section .second-section .left-article div:first-child img {
     width: 100%;
 }
 #main-section .second-section .left-article div:first-child span {
     display: block;
     padding: 4px 8px;
     text-align: center;
     position: absolute;
     bottom: 10px;
     left: 40px;
     border: 1px solid gray;
     border-top-width: 2px;
     background-color: #ddd;
     border-radius: 3px;
 }
 #main-section .second-section .left-article .announcement {
     width: 100%;
 }

 #main-section .second-section .left-article .announcement h2 {
     border-top: none;
 }
 #main-section .second-section .left-article .announcement > h2{
    border-top: 1px solid rgb(0, 140, 255);
}
#main-section .second-section .left-article .announcement div {
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
#main-section .second-section .left-article .announcement div img {
    width: 30%;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 0 0 7px 7px;
    margin-top: 15px;
}
#main-section .second-section .left-article .announcement div span {
    display: inline-block;
    width: 65%;
}
#main-section .second-section .left-article .announcement div span h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 140, 255);
    margin-bottom: 10px;
}
#main-section .second-section .left-article .announcement .more {
    width: 100%;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

}
#main-section .second-section .left-article .announcement .more a {
    display: inline-block;
    padding: 6px 10px;
    height: 100%;
    text-align: center;
    border: 1px solid rgb(1, 124, 224);
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 3px;
    transition: .5s ease-in-out;
}
#main-section .second-section .left-article .announcement .more a:hover {
   font-weight: bold;
   background-color: rgb(1, 124, 224);
   text-transform: uppercase;
   letter-spacing: 1px;
}

 #main-section .second-section .right-article {
     width: 40%;   
}
#main-section .second-section .right-article .labriry,
#main-section .second-section .right-article .spot {
    width: 100%;
}
#main-section .second-section .right-article .labriry h1,
#main-section .second-section .right-article .spot h1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(7, 7, 71);
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 140, 255);
    margin-bottom: 2px;

}
#main-section .second-section .right-article .labriry div h2,
#main-section .second-section .right-article .spot div h2 {
    border-top: 1px solid rgb(0, 140, 255);
    padding-top: 15px;
    color: rgb(136, 133, 133);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
#main-section .second-section .right-article .labriry div img,
#main-section .second-section .right-article .spot div img {
    width: 100%;
    height: 100Px;
}
#main-section .second-section .right-article .labriry div p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    margin-bottom: 12px;
}
#main-section .second-section .right-article .labriry  div:last-child h2 {
    border-top-color: #ddd;
}
#main-section .second-section .right-article .spot  div:nth-child(3) h2 {
    border-top: none;
}
#main-section .second-section .right-article .spot {
    width: 100%;
}
/*main section ended*/
#page .media {
    width: 100%;
    height: 40px;
    background-color: rgb(134, 199, 223);
    text-align: right;
    line-height: 40px;
    padding-right: 100px;
}
#page .media a {
    display: inline-block;
    width: 10%;
    text-align: center;
}
#page .media a:hover i{
    background-color: white;
    color: rgb(134, 199, 223);
}
#page .media a i {
    color: white;
    display: block;
    padding: 5px;
    border-radius: 50%;
}
#page .media a i.fa-facebook:hover {
    color: #3b5998;
}
#page .media a i.fa-instagram:hover {
    color: #C13584;
}
#page .media a i.fa-twitter:hover {
    color: #1DA1F2;
}
#page .media a i.fa-youtube:hover {
    color: #FF0000;
}




.footer {
    width: 100%;
}
.footer footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 124, 224);
    margin: 0;
}
.footer footer .footer-icon {
    height: 100%;
}
.footer footer .footer-icon img {
    height: 100%;
}
.footer footer .touch-us {
    display: flex;
    justify-content: space-between;
    
}
.footer footer .touch-us div {
    margin-right: 10px;
    margin-left: 10px;
}
.footer footer .touch-us div h2 {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.footer footer .touch-us div p {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
}
.footer .copyright {
    width: 100%;
    padding: 6px;
    text-align: center;
    background-color: rgb(134, 199, 223);
    color: #fff;
}


